[user]
	name = {{ .gitconfig.user.name }}
	email = {{ .gitconfig.user.email }}
	signingkey = {{ .gitconfig.user.sshPubKey }}
[init]
	defaultBranch = main
[pull]
	rebase = true
[core]
	editor = vim
	autocrlf = input
[commit]
	gpgsign = true
[rebase]
	autosquash = true
[rerere]
	enabled = true
[gpg]
	format = ssh
[alias]
	lg = !"~/.local/bin/fzf-git-log"
{{ if eq .common.workEnv "gm" }}
	rcc = !"~/.local/bin/retreive-custom-config"
	rvc = !"~/.local/bin/retreive-vite-config"
{{ end }}
