maximize = true
quit-after-last-window-closed = true

{{ if eq .common.workEnv "fedoradesk" -}}
font-size = 11
{{ else -}}
font-size = 14
{{ end -}}

font-family = JetBrainsMono Nerd Font
font-style = bold

theme = tokyonight

auto-update = off
