local wezterm = require("wezterm")

local config = wezterm.config_builder()

config.initial_cols = 120
config.initial_rows = 28

{{ if eq .common.workEnv "fedoradesk" -}}
config.font_size = 11
{{ else -}}
config.font_size = 13
{{ end -}}
config.font = wezterm.font("JetBrainsMono Nerd Font", { weight = "Bold" })

config.color_scheme = "Catppuccin Mocha"

config.keys = {
	{
		key = "7",
		mods = "CMD|ALT",
		action = wezterm.action.SplitHorizontal({ domain = "CurrentPaneDomain" }),
	},
	{
		key = "-",
		mods = "CMD",
		action = wezterm.action.SplitVertical({ domain = "CurrentPaneDomain" }),
	},
}

return config
